:root {
  --serif-font: "New York Medium", -apple-system-ui-serif, ui-serif, serif;
  --color-gray: #908a84;
  -webkit-tap-highlight-color: transparent;
}

html {
  box-sizing: border-box;
}

body {
  background: #efeeee;
  margin: 0;
}

body,
input,
button {
  font-family: "SF Pro Display", "Helvetica Neue", "Fira Sans", "Droid Sans",
    "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
