:root {
  --serif-font: "IBM Plex Serif", "New York Medium", -apple-system-ui-serif,
    ui-serif, serif;
  --color-lightgray: #b8c9d8;
  --color-gray: #7e92a4;
  --color-black: #3f4a62;
  --color-bg: #ecf0f3;
  -webkit-tap-highlight-color: transparent;
}

html {
  box-sizing: border-box;
}

body {
  background: var(--color-bg);
  margin: 0;
}

a {
  color: var(--color-gray);
}
a:hover {
  text-decoration: none;
}

hr {
  border: 1px solid #e3eaf1;
}

body,
input,
button {
  color: var(--color-black);
  font-family: "Inter", "SF Pro Display", "Helvetica Neue", "Fira Sans",
    "Droid Sans", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-moz-selection {
  background: #46bfbf;
  color: white;
}
::selection {
  background: #e6e9ef;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: transparent;
}

::-webkit-scrollbar:vertical {
  width: 14px;
}

::-webkit-scrollbar:horizontal {
  height: 14px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 4px solid var(--color-bg);
  background-color: var(--color-gray);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-black);
}

::-webkit-resizer {
  display: none;
}
