:root {
  --serif-font: "IBM Plex Serif", "New York Medium", -apple-system-ui-serif,
    ui-serif, serif;
  --color-lightgray: #b8c9d8;
  --color-gray: #7e92a4;
  --color-black: #3f4a62;
  -webkit-tap-highlight-color: transparent;
}

html {
  box-sizing: border-box;
}

body {
  background: #ecf0f3;
  margin: 0;
}

body,
input,
button {
  color: var(--color-black);
  font-family: "Inter", "SF Pro Display", "Helvetica Neue", "Fira Sans",
    "Droid Sans", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-moz-selection {
  background: #46bfbf;
  color: white;
}
::selection {
  background: #e6e9ef;
}
