:root {
  --bg: #ecf0f3;
  --text: #3f4a62;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
  color: var(--text);
  text-align: center;
  padding-top: 60px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.notifications {
  position: fixed;
  bottom: 0;
  right: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.notifications ul {
  margin:0;
  list-style: none;
}

.notifications ul li {
  background: #000;
  color: white;
  margin: 16px 0px;
  flex: 0 0 60px;
  position: relative;
  border-radius: 4px;
  padding: 16px;
}

.cardsWrapper {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.card {
  font-weight: bold;
  border-radius: 4px;
  padding: 10px;
  height: 260px;
}

/* @media only screen and (max-width: 900px) {
  width: "40%",
  height: "auto",
  marginBottom: 10,
} */
.whiteCard {
  width: 10%;
  background-color: white;
}

.blackCard {
  margin: 0 auto;
  width: 200px;
  background-color: black;
  color: white;
}
